@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
   --nude:#1E90FF;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#333;
   --light-color:#666;
   --white:#fff;
   --light-bg:#f6f6f6;
   --secclr:#1E90FF;
   --third:black;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   color:var(--black);
}

*::selection{
   background-color: var(--light-color);
   color:var(--white);
}

*::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--black);
}

body{
   background-color: var(--light-bg);
   /* padding-bottom: 6.5rem; */
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

section{
   padding:3rem 2rem;
   max-width: 1200px;
   margin:0 auto;
}

.disabled{
   user-select: none;
   pointer-events: none;
   opacity: .5;
}
/* contact.php css */
header {
   text-align: center;
   color: white;
 }

 .cho-image {
   margin-bottom: 1rem;
   height: 20rem;
   
 }

 /* Style for the contact info */
 .contact-info p {
   margin: 10px 0;
   font-size: 20px;

 }

 .contact-info a {
   color: black;
   font-size: 2.0rem;
   margin-left: 2rem;
   position: relative;
 }
 
 .contact-info a:after {
   content: '';
    background: var(--third);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
 }

 .contact-info a:hover:after {
   content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
 }

main {
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   background-color: white;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   margin-bottom: 3rem;
 }

#barangay-contact {
   margin-top: 20px;
 }
 
 #barangay-select {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
 }
 
 #barangay-contact-info {
   padding: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f0f0f0;
   font-size: 15px;
   line-height: 1.5;
 }
 
 #barangay-contact-info a {
   text-decoration: none;
   color: black;
}

#barangay-contact-info a:hover {
   text-decoration: underline;
   color: var(--secclr);
}


 #barangay-contact-info strong {
   font-weight: bold; /* Make the words "Address" and "Phone" bold */
}
 #barangay-contact-info p {
   margin: 10px 0;
}

#barangay-contact-info p.address {
   font-weight: bold; /* Make the address text bold */
}

#barangay-contact-info p.phone {
   margin-top: 15px; /* Add some spacing between address and phone */
}

#barangay-contact-info p.email {
   margin-top: 15px; /* Add some spacing between address and phone */
}
 
 /* Style for form elements */
 .form-container input[type="text"],
 .form-container input[type="email"],
 .form-container input[type="tel"],
 .form-container select {
   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
 }
 
 /* New styles for split layout */
 .split-layout {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 35px;
 }
 
 .split-left {
   flex: 1;
   padding: 20px;
   text-align: center;
 }

 .split-left h2 {
   font-size: 35px;
   text-transform: uppercase;
   color: #333; /* Adjust the text color as needed */
   margin-bottom: 25px;
 }
 
 .split-left h3 {
   margin-top: 25px;
   font-size: 24px;
  }
 
 .split-left h4 span {
   font-size: 16px; 
   font-weight: normal;
 }

 /* Add a border to create the line effect */
 .split-right {
   text-align: center;
   border-left: 1px solid black; /* Change the color to red (#ff0000) */
 }
 
 .split-right {
   flex: 1;
   padding: 20px;
 }
 

/* Updated style for CONTACT-US */
.CONTACT-US {
   text-align: center;
   flex: 1;
   font-size: 35px;
   padding: 20px;
}
 
.CONTACT-US span {
   color: #1E90FF;
}
 
.CONTACT-US h3 {
   margin-top: 25px;
   font-size: 20px; /* Adjust the font size as needed */
   font-weight: normal;
 }

 .contact form{
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   border:var(--border);
   text-align: center;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding-top: 1rem;
}

.contact form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   margin:1rem 0;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 15rem;
   resize: none;
}

.center-heading {
   text-align: center;
   margin-bottom: 40px;
   font-size: 30px;
}



 /* contact.php css ends here*/

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   color:var(--black);
   font-size: 2rem;
   padding:1.3rem 3rem;
   text-transform: capitalize;
   cursor: pointer;
   text-align: center;
   border-radius: 30px;
}

.btn{
   background-color: transparent;
   background-color:#d4d4d4;
}

.delete-btn{
   background-color: transparent;
   border: 2px solid #333;
}

.option-btn{
   background-color: transparent;
   border: 2px solid #333;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color:#1E90FF;
   cursor: pointer;
   color:var(--white);
}

.flex-btn{
   display: flex;
   flex-wrap: wrap;
   gap:1rem;
}

.flex-btn > *{
   flex:1;
}

.title{
   text-align: center;
   margin-bottom: 2rem;
   text-transform: uppercase;
   color:var(--black);
   font-size: 3.5rem;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
   z-index: 10000;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--red);
}

.message i:hover{
   color:var(--black);
}

.empty{
   padding:1.5rem;
   background: var(--white);
   color:var(--red);
   border-radius: .5rem;
   border:var(--border);
   font-size: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   text-transform: capitalize;
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   text-align: center;
   padding:2rem;
}

.form-container form h3{
   font-size: 3rem;
   color:var(--black);
   margin-bottom: 1rem;
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   margin:1rem 0;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   background-color: var(--light-bg);
}

.form-container form p{
   margin-top: 2rem;
   font-size: 2.0rem;
   color:var(--light-color);
}

.form-container form a{
   color: black; 
   font-size: 2.0rem;
   font-weight: bold;
   margin-left: 1rem;
   position: relative;
   text-decoration: none; 
   transition: color 0.3s;
}

.form-container form p a{
   color:var(--black);
}

.form-container form a:after {
   content: '';
   background: var(--third);
   width: 0;
   height: 3px;
   position: absolute;
   top: 100%;
   left: 0;
   margin-top: 5px;
   transition: width 0.3s, background-color 0.3s;
}

.form-container form a:hover:after {
   width: 100%;
   background: var(--secclr);
}

.header{
   background: var(--white);
   position: sticky;
   top:0; left:0; right:0;
   z-index: 100;
   box-shadow: var(--box-shadow);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding:2rem;
   margin: 0 auto;
   max-width: 1200px;
   position: relative;
}

.header .flex{
   font-size: 2.5rem;
   color:var(--light-color);
}

.header .flex #logo{
   width: 300px;
   transform: translate(-120px, 0);
}

#loginlogo{
   margin: 0 auto;
   text-align: center;
   width: 300px;
}

.header .flex .navbar a{
   color: black;
   font-size: 2.0rem;
   margin-left: 2rem;
   position: relative;
}

.header .flex .navbar a:after{
    content: '';
    background: var(--third);
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    transition: .3s;
}

.header .flex .navbar a:hover:after{
    content: '';
    background: var(--secclr);
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

.header .flex .icons > *{
   font-size: 2.5rem;
   color:var(--light-color);
   cursor: pointer;
   margin-left: 1.5rem;
}

.header .flex .icons > *:hover{
   color:var(--black);
}

.header .flex .icons a span,
.header .flex .icons a i{
   color:var(--light-color);
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i{
   color:var(--black);
}

.header .flex .icons a span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}

.header .flex .profile{
   position: absolute;
   top:120%; right:2rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
   background-color: var(--white);
   width: 33rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile img{
   height: 15rem;
   width: 15rem;
   margin-bottom: 1rem;
   border-radius: 50%;
   object-fit: cover;
}

.header .flex .profile p{
   padding:.5rem 0;
   font-size: 2rem;
   color:var(--light-color);
}

.update-profile form{
   max-width: 70rem;
   margin: 0 auto;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.update-profile form .flex{
   display: flex;
   gap:1.5rem;
   justify-content: space-between;
}

.update-profile form img{
   height: 20rem;
   width: 20rem;
   margin-bottom: 1rem;
   border-radius: 50%;
   object-fit: cover;
}

.update-profile form .inputBox{
   text-align: left;
   width: 49%;
}

.update-profile form .inputBox span{
   display: block;
   padding-top: 1rem;
   font-size: 1.8rem;
   color:var(--light-color);
}

.update-profile form .inputBox .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   border-radius: .5rem;
   margin:1rem 0;
   background-color: var(--light-bg);
}






.footer{
   background-color: var(--white);
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:2.5rem;
   align-items: flex-start;
}

.footer .box-container .box h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 2rem;
   font-size: 2rem;
}

.footer .box-container .box a,
.footer .box-container .box p{
   display: block;
   padding:1.3rem 0;
   font-size: 1.6rem;
   color:var(--light-color);
}

.footer .box-container .box a i,
.footer .box-container .box p i{
   color:var(--nude);
   padding-right: 1rem;
}

.footer .box-container .box a:hover{
   text-decoration: underline;
   color:var(--black);
}

.footer .credit{
   margin-top: 2rem;
   padding: 2rem 1.5rem;
   padding-bottom: 2.5rem;
   line-height: 1.5;
   border-top: var(--border);
   text-align: center;
   font-size: 2rem;
   color:var(--black);
}



/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }
   
}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      position: absolute;
      top:99%; left:0; right:0;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   
   .header .flex .navbar a{
      display: block;
      margin:2rem;   
   }

   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }

   .update-profile form .flex .inputBox{
      width: 100%;
   }


}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .title{
      font-size: 3rem;
   }
   
}

.logfor-bg {
   position: relative;
}

.logfor-bg::before {
   content: "";
   background: url(../images/image2.png) no-repeat;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
   z-index: -1; /* Place the pseudo-element behind the content */
}

.password-toggle {
   position: relative;
 }
 
 .toggle-button {
   position: absolute;
   top: 50%;
   right: 10px; /* Adjust the right distance as needed */
   transform: translateY(-50%);
   background: none;
   border: none;
   cursor: pointer;
 }

 
 /* Style for the "Barangay Contact" section */

 .icons div{
   font-size: 2rem;
   margin-right: 1rem;
   color: white;
   display: none;
}
.login-btn{
   background-color: #1E90FF;
   color: white;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 10px 25px;
   border-radius: 30px;
   transition: transform .4s;
}
.login-btn:hover{
   transform: scale(1.2);
}
