@import url('components.css');


.home-bg{
   background: url(../images/home-bg.png) no-repeat;
   background-size: cover;
   background-position: center;
}

.home-bg .home{
   display: flex;
   align-items: center;
   min-height: 85vh;
}

.home-bg .home .content{
   width: 50rem;
}

.home-bg .home .content h1{
   color: black;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase; 
}

.home-bg .home .content span{
   color: #1E90FF;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase; 
}

.home-bg .home .content p{
   font-size: 1.8rem;
   padding:1rem 0;
   line-height: 2;
   margin-bottom: 40px;
   color:var(--light-color);
}

.home-bg .home .content a{
   display: inline-block;
   width: auto;
}

.about .row{
   display: flex;
   flex-wrap: wrap;
   gap:3rem;
   align-items: center;
}

.about .row .box{
   flex:1 1 40rem;
   text-align: center;
}

.about .row .box img{
   margin-bottom: 2rem;
   height: 40rem;
}

.about .row .box h3{
   padding:1rem 0;
   font-size: 2.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.about .row .box p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:1rem 0;
}

.about .row .box .btn{
   display: inline-block;
   width: auto;
}

.data_forms form{
   padding:2rem;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.data_forms form h3{
   border-radius: .5rem;
   background-color: #1E90FF;
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.data_forms form h4{
   border-radius: .5rem;
   background-color: #1E90FF;
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.data_forms form h5{
   border-radius: .5rem;
   background-color: #1E90FF;
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.data_forms form h6{
   border-radius: .5rem;
   background-color: #1E90FF;
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.data_forms form h7{
   border-radius: .5rem;
   background-color: var(--black);
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.data_forms form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   justify-content: space-between;
}

.data_forms form .flex .inputBox{
   width: 30%;
}

.data_forms form .flex .inputBox .box{
   width: 100%;
   border-radius: .5rem;
   border: var(--border);
   font-size: 1.8rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   margin:1rem 0;
   background-color: var(--light-bg);
}

.data_forms form .flex .inputBox span{
   font-size: 1.8rem;
   color:var(--light-color);
}







@media (max-width:768px){

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
      text-align: center;
   }

   .data_forms form .flex .inputBox{
      width: 100%;
   }

}

@media (max-width:450px){

   .home-category .box-container{
      grid-template-columns: 1fr;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   .quick-view .box img{
      height: auto;
      width: 100%;
   }

   .about .row .box img{
      width: 100%;
      height: auto;
   }   

   .shopping-cart .box-container{
      grid-template-columns: 1fr;
   }

   .wishlist .box-container{
      grid-template-columns: 1fr;
   }

}

.icons div{
   font-size: 2rem;
   margin-right: 1rem;
   color: white;
   display: none;
}
.login-btn{
   background-color: #1E90FF;
   color: white;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 10px 25px;
   border-radius: 30px;
   transition: transform .4s;
}
.login-btn:hover{
   transform: scale(1.2);
}

.password-toggle {
   position: relative;
 }
 
 .toggle-button {
   position: absolute;
   top: 50%;
   right: 10px; /* Adjust the right distance as needed */
   transform: translateY(-50%);
   background: none;
   border: none;
   cursor: pointer;
 }


 .login-bg {
   position: relative;
}

.login-bg::before {
   content: "";
   background: url(../images/image2.png) no-repeat;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
   z-index: -1; /* Place the pseudo-element behind the content */
}

